
:root {
    --base-font: "montserrat";
    /* Social Colors */
    --facebook: #3b5998;
    --twitter: #55acee;
    --instagram: #517fa4;
    --linkedin: #0077b5;
    --mainColor: #1B1B1D;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: var(--base-font);
}
.homeMain{
    position:absolute;
    background: url('./images/homeBackground.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 90%;
}
.experienceMain{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/downtown.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 90%;
}
.backgroundImage{
    position:absolute;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 80%;
}

nav{
    display: flex;
    background: linear-gradient(180deg, #1B1B1D 0%, rgba(27, 27, 29, 0) 100%);
    padding: 10px 6vw;
    align-items: center;
    justify-content: space-between;
    /* background: red; */
    width: 100%;
    height: 80px;
    color:#ffffff;
    position: fixed;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--mainColor);
    color: white;
    text-align: center;
    opacity: 90%;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}

.navLinks{
    width: 400px;
    justify-content:space-around;
    display: flex;
}

.navbar__link {
    margin: 1em;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .3em;
    text-indent: .3em;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
}
  
.navbar__link:hover {
    font-size:1.05rem;
    font-weight: bold;
}

.navbar__link--active {
    border-bottom: 3px solid var(--mainColor);
    transition: border-bottom .5s ease-in-out;
}

.homeSection{
    position: absolute;
    top: -40px;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.blurCard{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    line-height: 1; 
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(4px);
    width: 1600px;
    max-width: 80%;
    height: fit-content;
    padding: 10px;
    margin-top:80px;
    margin-bottom:80px;
}
.pictureSection{
    width: 100%;
}
.profilePicture{
    object-fit:cover;
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 2vw;
}
.cardText{
    width: 80%;
    line-height:150%;
}

.logo {
    width: 100px;
    height: auto;
}

.experienceMain li{
    margin: 100px 10px;
}